.footer {
    bottom: 0;
    position: relative;
    width: 100%;
    background: linear-gradient(35deg, #81d6f2, #4ab1f5 );
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    padding-bottom: 10px;
}
.footer h4{
    color: #fff;
    /* width: 100%; */
}