.news{
    /* border: 1px solid #111; */
    /* background-size: cover;
    background-repeat: no-repeat; */
    min-width: 200px;
    max-width: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #111;
    border-radius: 2rem;
}

.news p {
    max-width: 70ch;
    color: #111;
    text-shadow: 2px 2px 3px #eeee;
    font-size: 1.2rem;
}

.news h4{
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px #eee;
    /* text-align: center; */
}
.news h5{
    margin-top: 0;
    font-size: 1rem;
}
/* 
.img {
    display: none;
    max-width: 450px;
    margin: 0 auto;
} */
.newsPic{
    min-height: 250px;
    width: 100%;
}
.summary{
    /* background-color: rgba(238, 238, 238, 0.7); */
    padding: 15px;
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
    border-radius: 1rem;

}
.news img{
    width: 100%
}

a {
    text-decoration: none;
    font-size: .9rem;
    color: rgb(4, 106, 189);
    text-shadow: none;
    font-weight: 700;
}



@media (min-width: 900px){
   
}
