.profile{
    /* margin-top: 100px; */
    padding: 0 20px;
}

.showBlogs{
    /* height: 100%; */
    height: max-content;
    padding: 10px 10px 10px 0;
}
.showBlogs h3{
    margin-top: 0;
}

.blog-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
}

.perBlog{
    margin: 0 auto;
    /* width: 500px; */
}
.perBlog h3{
    margin-top: 10px;
}
.perBlog:hover{
    cursor: pointer;
}

.perBlog .card{
    width: 90%;
    margin: 0 auto;
}
.perBlog .img{
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.perBlog .img img{
    width: 80%;
    /* height: 100%; */
}
.perBlog .card{
    min-width: 100px;
    padding: 10px;
}
.perBlog .card h2{
    margin-bottom: 0;
    font-size: 1.5rem;
}
.perBlog .card p:nth-of-type(1){
    margin-top: 0;
    margin-bottom: 20px;
}
.perBlog .card .info p {
    width: 100%;
}
.perBlog .card p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.info p:nth-of-type(1){
    margin-bottom: 0;
}
.info p:nth-of-type(2){
    margin-top: 0;
}

.perBlog .cardWithImg{
    margin: 0 auto;
    /* width: 100%; */
    max-width: 300px;
    border: 1px solid #111;
    border-radius: 10px;
    text-align: center;
    opacity: 0.9;
    box-shadow: 2px 8px 8px rgb(177 176 176 / 93%);
    padding: 10px;
    color: black;
}
.perBlog .cardWithImg h2{
    margin-bottom: 0;
    font-size: 1.5rem;
}
.perBlog .cardWithImg p:nth-of-type(1){
    margin-top: 0;
}
.perBlog .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cardWithImg:hover{
    opacity: 1;
    box-shadow: 4px 8px 8px rgba(124, 124, 124, 0.933);
}
.cardWithImg h2{
    grid-area: title;
}

.cardWithImg img{
    padding: 10px;
}
.cardWithImg .img{
    width: 100%;
    border-radius: 20px;
}
.cardWithImg .info{
    grid-area: info;
    width: 100%;
    max-width: 250px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 20px;
}
.info p:nth-of-type(2){
    margin-bottom: 0;
}


@media (max-width: 800px){
    .blog-grid{
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
}
}