.home{
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    min-width: 200px;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 110px;
    text-align: left;
    height: 55px;
    padding-bottom: 30px;
}
.logo img{
    width: 100%;
}

.welcome h3 {
    margin-top: 40px;
    text-align: center;
    background: #e8f1f5;
    border-radius: 2rem;
    padding: 5px;
}
.intro{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.description{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
}
.description h3{
    width: 100%;
}
.description h4{
    width: 100%;
    text-align: left;
}
.description p {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}
.description img{
    width: 100%;
    max-width: 300px;
}
picture{
    /* display: none; */
    position: relative;
    width: 100%;
    max-width: 180px;
}
picture img{
    /* position: absolute; */
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    }
.featured h3{
    margin-top: 0;
}
@media (min-width: 900px){
    .welcome{
        display: grid;
        margin-top: 40px;
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }
    .welcome h3{
        margin-top: 0;
    }
    .intro{
        grid-template-columns: repeat(2, 1fr);
    }
    .featured{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .1fr 1fr;
        /* grid-gap: 10px; */
        grid-template-areas: 
        'h3 h3'
        'featuredBlogs pic';
    }
    .featuredH3{
        grid-area: h3;
    }
    .featuredBlogs{
        grid-area: featuredBlogs;
        z-index: 10;
    }
    picture{
        grid-area: pic;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

    }
  
}
