.showBlog{
    border: 1px solid #111;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.showBlog header{
    text-align: center;
}

.showBlog h2{
    margin-bottom: 0;
}
.showBlog h4:nth-of-type(2){
    margin-bottom: 20px;
}

.showBlog .img{
    width: 250px;
}
.showBlog .img img {
    width: 100%;
}
.gallery{
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    padding: 10px;
}
.gallery h4{
    font-size: 1.2rem;
    text-align: center;
}
.gallery .img-grid{
    margin-bottom: 10px;
}
.gallery .img{
    width: 100%;
    height: max-content;
    /* border: 1px solid rgb(189, 189, 189); */
    background: rgba(235, 233, 233, 0.1);
    color: #111;
}
.gallery .noDesc{
    width: 100%;
    max-width: 15em;
    margin: 0 auto;
    /* background: rgba(201, 201, 201, 0.1); */
    color: #111;
}
.gallery .noDesc img{
    width: 100%;
    margin: 0 auto;
}
.gallery .img p{
    text-align: center;
    font-size: 1.2rem;
}
.synopsis{
    padding: 5px;
    text-align: center;
}
.backButton{
    width: 25%;
    max-width: 200px;
    margin: 0 auto;
    padding: 20px 0;
}
.backButton button{
    width: 100%;
    min-width: min-content;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(35deg, #81d6f2, #4ab1f5 );
    color: #fff;
}
.backButton button:hover{
    cursor: pointer;
}
@media (max-width: 650px){
    .gallery .img-grid{
        grid-template-columns: 1fr
    }

}