.img-grid{
    /* margin: 20px auto; */
    margin: 20px 35px 40px 35px;
    /* padding-bottom: 50px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.img-wrap{
    overflow: hidden;
    /* height: 250px;
    width: 250px; */
    /* min-width: 125px; */     
    height: 0;
    padding: 50% 0; 
    /* padding controls height, will always be perfectly square regardless of width */
    /* margin: 0 auto; */
    position: relative;
    opacity: 0.8;
    border: 1px solid #eee;
}

.img-wrap img{
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.img-wrap div {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    min-width: 100%;
    min-height: px;
    max-width: 100%;
    background: linear-gradient(35deg, #10b9f1, #4ab1f5 );
    /* margin-top: 92px; */
    padding: 5px 0;
}

.img-wrap div p {
    color: #fff;
    text-align: center;
}






/* Modal Style - ImageGrid */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.backdrop img{
    display: block;
    max-width: 60%;
    max-height: 60%;
    margin: 150px auto;
    box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
    border: 3px solid #fff;
}

/* Modal Style - ShowCurrentImage*/
.backdrop2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.backdrop2 .content{
    width: 70%;
    /* height: 50%; */
    margin: 150px auto;
    background: #eee;
    padding: 10px;
}
.backdrop2 img{
    /* display: block; */
    box-sizing: border-box;
    width: 100%;
    /* box-shadow: 3px 5px 7px rgba(0,0,0,0.5); */
    border: 3px solid #fff;
    margin: 0 auto;
}

.modal-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.modal-form label{
    padding: 10px 0;
    font-size: 1.5rem;
}
.modal-form textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    font-size: 1.3rem;
}
.modal-form button {
    padding: 5px 0;
    margin-top: 10px;
    font-size: 1.2rem;
    background: linear-gradient(35deg, #10b9f1, #4ab1f5 );
    border-radius: 0.5rem;
    color: #fff;
}
