.blog {
    position: relative;
    margin: 0 auto;
    height: 100%;
    top: 100px;
    /* padding-top: 60px; */
}

.blog h5 {
    font-size: 1.3rem;
    text-align: center;
    background: #e8f1f5;
    border-radius: 2rem;
    margin-top: 10px;
}
.posts{
    padding: 10px;
}
.posts h5 {
    margin-top: 0;
    margin-bottom: 10px;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    /* margin-bottom: 10px; */
    /* padding-right: 2px; */
}
.fas {
    /* padding-left: 10px; */
    padding-right: 10px;
}

.profile {
    position: relative;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profile h5 {
    margin-bottom: 10px;
}
.profile p {
    font-weight: 500;
    margin: 0;
    font-size: 1.2rem;
}
.profile button {
    margin: 0;
    font-size: 1.2rem;
    background: white;
}
.profile .pic {
    background: pink;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogs{
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr;
    padding: 20px;
}


@media (min-width: 900px){
.blog {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 0.2fr;
    grid-template-areas: 
    "post profile"
}
.profile {
    grid-area: profile;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #111; */
    height: 300px;
    padding: 10px;
    text-align: center;
}
.title{
    margin-top: 35px;
}
.posts {
    grid-area: post;
}
.posts h5 {
    margin-top: 35px;
}
.profile h5 {
    margin-top: 35px;
    margin-bottom: 5px;
}
.profile p {
    margin: 0;
    /* padding-left: 6px; */
    font-size: 1.2rem;
    font-weight: 600;
}
.profile button {
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
    padding-left: 0;
}
.blogs{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;

}

}