.card {
    width: 100%;
    border: 1px solid #111;
    margin: 25px auto;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons button:nth-child(1){
    margin-right: 10px;
}

.buttons button {
    font-size: 15px;
}

