.container{
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    height: 90vh;
}

.container h1{
    text-align: center;
}

/* #e8f1f5 */

.signUp{
    background: linear-gradient(35deg, #7ec6f5, #f4fafc 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    max-width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 1rem;
    box-shadow: 6px 10px 20px 1px rgb(208, 206, 206);
    padding: 40px;
}

figure{
    width: 100%;
    margin-bottom: 10px;
}

figure img{
    width: 100%;
}

form{
    width: 100%;
}

.input-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.input-form:first-child{
    padding-top: 0;
}

.input-form label{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: 0.5px 0.5px 4px rgb(123, 123, 123);
}

.input-form input{
    margin-top: 10px;
    border-radius: 2rem;
    padding: 10px;
    font-size: 1.2rem;
    border: 0.5px solid #eee;
    outline: none;
}

.input-form input:focus,
.input input:focus{
    border: 1px solid rgb(179, 175, 175);
}

.button{
    margin-top: 20px;
   /* background-color: rgba(0,149,246,.3);  */
   background-color: rgba(3, 145, 240, 0.474); 
    color: #eee;
    font-size: 1.1rem;
    font-weight: 650;
    width: 100%;
    padding: 10px;
    border-radius: 2rem;
    outline: none;
}

.button:hover{
    cursor: pointer;
    background-color: rgba(112, 186, 235, 0.645); 
    text-shadow: 0.2px 0.8px 1.5px rgb(100, 99, 99);
}

.login{
    /* padding-top: 5px; */
    width: 100%;
    text-align: right;
    /* margin-bottom: 30px; */
    /* color: #127fc7; */
    color: white;
}

.login p{
       text-shadow: 0.5px 0.5px 4px rgb(123, 123, 123);
}

.login a{
    padding-left: 5px;
    color: rgb(34, 155, 235); 
    /* color: #f4fafc; */
    font-weight: 500;
    text-shadow: none;
}

.login a:hover{
    cursor: pointer;
}

.error {
    width: 100%;
    background-color: rgb(250, 134, 134);
    color: rgb(247, 27, 27);
    padding: 10px;
    border-radius: .5rem;
}
.error h4 {
    padding: 10px;
    margin: 0;
}