.profile-page{
   height: 100%;
   width: 100%;

}

.profilePic{
    background: url(../../assets/images/back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1200px;
    height: 250px;
    display: flex;
    align-items: flex-end;
    /* max-height: 250px; */
}

.profile-pic img{
    position: absolute;
    top: 270px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
}
.user-details{
    /* display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'display followers following'
    'buttons buttons buttons';
    grid-gap: 10px; */
    /* display: flex; */
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    margin-top: 80px;
    /* padding-left: 50px; */
    /* padding-bottom: 20px; */
}
.display{
    grid-area: display;
    width: 45%;
}
.count{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.followers{
    background-color: #fff;
    grid-area: followers;
}
.following{
    background-color: #fff;
    grid-area: following;
}
.links{
    grid-area: buttons;
    padding: 10px 0;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: space-evenly;
}
.user-details h1{ 
    text-align: left;
    margin-bottom: 0;
}
.user-details h2{
    margin-top: 0;
    margin-bottom: 0;
}
.user-details p{
    font-size: 1.2rem;
    padding-left: 5px;
}
.links button{
    background: linear-gradient(35deg, #81d6f2, #4ab1f5 );
    border-radius: .5rem;
}
.links button:nth-of-type(2){
    margin-left: 20px;
}
button {
    border: none;
}
.userContent i {
    padding-right: 5px;
}
.userContent p{
    /* text-align: left; */
    font-size: 1.1rem;
    font-weight: 500;
}
.tags{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #111;
}

@media (min-width: 900px){
    .user-details{
        /* justify-content: none; */
        display: flex;
        /* justify-content: space-around; */
        margin-top: 70px;
    }
    .display{
        width: 20%;
        padding-left: 90px;
    }
    .count{
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
    .count p:first-child{
        padding-left: 0;
    }
    .count p{
        padding-left: 40px;
    }
    .links{
        width: 40%;
        padding-left: 90px;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
}