
/* #e8f1f5 */

.signIn{
    background: linear-gradient(35deg, #7ec6f5, #f4fafc 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    max-width: 300px;
    margin: 80px auto;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 1rem;
    box-shadow: 6px 10px 20px 1px rgb(208, 206, 206);
    padding: 40px;
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.input label{
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: 0.5px 0.5px 4px rgb(123, 123, 123);
}

.input input{
    margin-top: 10px;
    border-radius: 2rem;
    padding: 10px;
    font-size: 1.2rem;
    border: 0.5px solid #eee;
    outline: none;
}


.register{
    padding-top: 5px;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    /* color: #127fc7; */
    color: white;
}

.register p{
       text-shadow: 0.5px 0.5px 4px rgb(123, 123, 123);
}

.register a{
    padding-left: 5px;
    color: rgb(34, 155, 235); 
    /* color: #f4fafc; */
    font-weight: 500;
    text-shadow: none;
}

.register a:hover{
    cursor: pointer;
}